@media (max-width: 1279px) {
    .container {
        padding: 80px 30px 100px 30px;
    }

    .header-content {
        padding: 0 30px;
    }

    /* Not-only */
    .not-only-content {
        align-items: center;
        gap: 100px;
        padding: 150px 20px 0 20px;
    }

    .not-only-text {
        margin-top: 0;
    }

    .not-only-text > button {
        margin: 0 auto;
    }

    .not-only-img {
        max-width: 569px;
        align-self: flex-end;
    }

    /* About */
    .about-content {
        /*flex-direction: column-reverse;*/
        gap: 80px;
    }

    /* Our Friends Slider */
    .slider {
        gap: 16px;
    }

    .slider-wrapper {
        width: 580px;
    }

    .slider-carousel {
        left: -580px;
    }

    .slider-slide {
        gap: 40px;
    }

    .card-right {
        display: none;
    }

    /* Help */
    .help-content {
        gap: 57px;
    }

    .help-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 55px 28px;
        width: 100%;
        padding: 0 20px;
    }

    /* Donation */
    .donation-content {
        /*flex-direction: column-reverse;*/
        gap: 60px;
    }

    /* Footer */
    .footer-content {
        /*max-width: 900px;*/
        padding-top: 17px;
        padding-bottom: 0;
        gap: 60px;
    }

    /* -----------pets------------*/
    /* Our friends Pagination*/
    .our-friends-content-pets {
        padding-bottom: 80px;
        gap: 31px;
    }

    .our-friends-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-pets:not(:nth-of-type(-n + 6)) {
        display: none;
    }

    /* -----------Modal------------*/

    .modal-window {
        max-width: 630px;
    }

    .modal-content {
        width: 630px;
    }

    .modal-content > img {
        width: 350px;
        height: 350px;
    }

    .modal-info {
        width: 265px;
        padding: 10px 9px 10px 11px;
    }

    .modal-info > h4 {
        margin-bottom: 20px;
    }

    .modal-info > h5 {
        font-size: 13px;
        line-height: 110%;
        margin-bottom: 20px;
    }
}

@media (max-width: 1023px) {
    .not-only-content {
        flex-direction: column;
    }

    .about-content {
        flex-direction: column-reverse;
    }

    .donation-content {
        flex-direction: column-reverse;
    }

    .footer-content {
        max-width: 900px;
    }
}

@media (max-width: 767px) {
    h2,
    h3 {
        font-size: 25px;
        text-align: center;
    }

    .container {
        padding: 42px 10px 42px 10px;
    }

    .header-content {
        padding: 0 20px;
    }

    /* Burger */
    .burger {
        display: block;
    }

    .burger.rotate {
        transform: rotate(90deg);
    }

    .menu {
        position: fixed;
        width: 320px;
        height: 100vh;
        top: 0;
        right: -350px;
        background-color: var(--color-dark-3xl);
        transition: right 0.4s ease-in-out;
        z-index: 20;
    }

    .menu.pets-page {
        background-color: var(--color-light-xl);
    }

    .menu.menu-active {
        right: 0;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        height: 100%;
        margin: 120px 0;
        padding: 0 30px 30px;
        overflow-y: auto;
    }

    .menu-list li {
        margin-left: 0;
        padding: 8px 0;
    }

    .menu-list a {
        font-size: 32px;
    }

    .logo.move {
        left: calc(100% - 255px);
    }

    /* Not-only */
    .not-only-content {
        padding: 150px 10px 0 10px;
        gap: 81px;
    }

    .not-only-text {
        text-align: center;
    }

    .not-only-text > h2 {
        letter-spacing: 0.06em;
    }

    .not-only-img {
        max-width: 260px;
    }

    /* About */
    .about-content {
        padding: 42px 24px 42px 24px;
        /*margin: 0 24px;*/
        max-width: 430px;
        gap: 42px;
    }

    .about-shelter {
        width: auto;
        gap: 23px;
    }

    .about-shelter > p {
        text-align: justify;
    }

    .about-pets {
        max-width: 260px;
    }

    /* Our Friends Slider */
    .our-friends-content {
        gap: 41px;
    }

    .slider {
        flex-wrap: wrap;
        width: 300px;
        margin: 0 auto;
    }

    button.slider-btn {
        order: 10;
        margin: 0 35px;
    }

    .slider-wrapper {
        width: 270px;
    }

    .slider-carousel {
        left: -270px;
    }

    .card-center {
        display: none;
    }

    /* Help */
    .help-content {
        gap: 42px;
    }

    .help-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 24px;
        padding: 0;
    }

    .help-list > div {
        gap: 20px;
    }

    .help-list img {
        height: 50px;
    }

    .help-list h4 {
        font-size: 15px;
    }

    /* Donation */
    .donation-content {
        gap: 42px;
    }

    .make-donation {
        align-items: center;
        padding: 0 10px;
        gap: 23px;
    }

    .make-donation h5 {
        letter-spacing: 0;
    }

    .make-donation p {
        text-align: justify;
    }

    .donation-link {
        gap: 10px;
        height: 43px;
        font-size: 15px;
    }

    .donation-dog {
        max-width: 260px;
    }

    /* Footer */
    .footer-content {
        padding-bottom: 0;
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
        gap: 33px;
    }

    .footer-content img {
        max-width: 260px;
    }

    .footer-locations,
    .footer-contacts {
        width: 100%;
        height: auto;
        align-items: center;
        gap: 29px;
        margin-top: 0;
    }

    .footer-content h3 {
        max-width: 260px;
    }

    .footer-locations a {
        align-self: flex-start;
    }

    .footer-locations {
        gap: 35px;
    }

    .footer-link {
        min-height: 47px;
    }

    /* -----------pets------------*/
    /* Our friends Pagination*/

    .our-friends-content-pets {
        gap: 41px;
    }

    .our-friends-cards {
        grid-template-columns: 1fr;
    }

    .card-pets:not(:nth-of-type(-n + 3)) {
        display: none;
    }

    .our-friends-pagination {
        gap: 10px;
    }

    /* -----------Modal------------*/

    .modal-window {
        max-width: 240px;
    }

    .modal-content {
        width: 240px;
    }

    .modal-content > img {
        display: none;
    }

    .modal-info {
        width: 240px;
        padding: 12px;
        margin: 0 auto;
    }

    .modal-info > h5 {
        margin-bottom: 24px;
        text-align: justify;
    }
}
